spicetify/.config/spicetify/Backup
spicetify/.config/spicetify/CustomApps/marketplace
spicetify/.config/spicetify/Extensions
spicetify/.config/spicetify/CustomApps/marketplace
spicetify/.configspicetify/Extracted
spicetify/.config/spicetify/Backup
spicetify/.config/spicetify/Themes
spicetify/.config/spicetify/Extracted
